In [378]:
# TO generate sql script for inserting mock data into db2

from faker import Faker
import sqlite3
import random

In [379]:
fake = Faker()

In [380]:
num_records = 100
insert_statements = []

In [ ]:
# User
user_email = {}
for _ in range(num_records):
    name = fake.name()
    
    email = fake.email()
    while email in user_email:
        email = fake.email()
    user_email[email] = 1
    
    balance = round(random.uniform(0,100000), 2)
    password = fake.password()
    insert_statements.append(f"INSERT INTO User VALUES ('{email}', {balance}, '{name}', '{password}');")

In [382]:
# Bank
for i in range(num_records):
    insert_statements.append(f"INSERT INTO Bank VALUES ({i+1});")

In [383]:
# BankAccount
bank_account_with_instit = []
for _ in range(num_records):
    institutionNumber = random.randint(1,100)                         # everything from 1 - 100 is generated
    accountNumber = random.randint(100000,100000000)
    bank_account_with_instit.append((institutionNumber, accountNumber))
    name = fake.name()
    balance =  round(random.uniform(0,100000), 2)
    insert_statements.append(f"INSERT INTO BankAccount VALUES ({institutionNumber}, {accountNumber}, '{name}', {balance});")

In [384]:
# BankTransactions
used_transactionID = {}
status_code = ["Complete", "Pending", "Failed", "Not Submitted", "Archived"]
opType = ["Cheque", "Saving" ]
for _ in range(num_records):
    transactionID = random.randint(100000,100000000)
    while transactionID in used_transactionID:
        transactionID = random.randint(100000,100000000)
    used_transactionID[transactionID] = 1

    date = fake.date()
    currency = fake.currency_code()
    amount = round(random.uniform(0,100000), 2)
    status = random.choice(status_code)
    opCode = random.choice(opType)
    institute, bankAccountNumber = random.choice(bank_account_with_instit)
    user = random.choice(list(user_email.keys()))
       
    insert_statements.append(f"INSERT INTO BankTransactions VALUES ({transactionID}, '{date}', '{currency}', {amount}, '{status}', '{opCode}', {institute}, {bankAccountNumber}, '{user}');")

In [385]:
# Company
company_IP = {}
company_name = {}
company_sectors = ["Technology", "Healthcare", "Finance", "Education", "Retail", "Manufacturing", "Real Estate", "Marketing", "Transportation"]
for _ in range(num_records):
    CUSIP = fake.lexify(text='?????????').upper()
    while CUSIP in company_IP:
        CUSIP = fake.lexify(text='?????????').upper()
    company_IP[CUSIP] = 1
    
    name = fake.company()
    while name in company_name:
        name = fake.company()
    company_name[name] = 1
    
    location = fake.address()
    sector = random.choice(company_sectors)
       
    insert_statements.append(f"INSERT INTO Company VALUES ('{CUSIP}', '{name}', '{location}', '{sector}');")

In [386]:
# Stock
used_ticker = {} 
for _ in range(num_records):
    ticker = fake.lexify(text='???').upper()
    while ticker in used_ticker:
        ticker = fake.lexify(text='???').upper()
    used_ticker[ticker] = 1
    marketCap = round(random.uniform(1000000,100000000), 2)
    Company = random.choice(list(company_IP.keys()))
    insert_statements.append(f"INSERT INTO Stock VALUES ('{ticker}', {marketCap}, '{Company}');")

In [387]:
# Shares
used_shareID_with_ticker = {}
stock_exchanges = [
    "NYSE",  # New York Stock Exchange
    "NASDAQ",  # NASDAQ Stock Exchange
    "LSE",  # London Stock Exchange
    "TSE",  # Tokyo Stock Exchange
    "SSE",  # Shanghai Stock Exchange
    "HKEX",  # Hong Kong Stock Exchange
    "Euronext",  # Euronext (Paris, Amsterdam, etc.)
    "ASX",  # Australian Securities Exchange
    "BSE",  # Bombay Stock Exchange
    "TSX",  # Toronto Stock Exchange
]
for _ in range(num_records):
    ticker = random.choice(list(used_ticker.keys()))
    shareID = random.randint(100000,100000000)
    while (shareID, ticker) in used_shareID_with_ticker:
        shareID = random.randint(100000,100000000)
        ticker = random.choice(list(used_ticker.keys()))
    used_shareID_with_ticker[(shareID, ticker)] = 1

    currentP = round(random.uniform(0,1000), 2)
    openingP = round(random.uniform(0,1000), 2)
    stockExchange = random.choice(stock_exchanges)
    insert_statements.append(f"INSERT INTO Shares VALUES ('{ticker}', {shareID}, {currentP}, {openingP}, '{stockExchange}');")

In [388]:
#InvestmentTransactions
for _ in range(num_records):
    transactionID = random.randint(100000,100000000) 
    while transactionID in used_transactionID:                           # same dict as bank transaction 
        transactionID = random.randint(100000,100000000)
    used_transactionID[transactionID] = 1

    date = fake.date()
    currency = fake.currency_code()
    amount = round(random.uniform(0,100000), 2)
    status = random.choice(status_code)
    opCode = random.choice(opType)
    brokerageFee = round(random.uniform(0,10), 2) 

    shareID, ticker = random.choice(list(used_shareID_with_ticker.keys()))
    user = random.choice(list(user_email.keys()))
    
    insert_statements.append(f"INSERT INTO InvestmentTransactions VALUES ({transactionID},'{date}','{currency}',{amount},'{status}','{opCode}',{brokerageFee},'{ticker}',{shareID},'{user}');")

In [389]:
# Watchlist
WID = {}
for _ in range(num_records):
    wid = random.randint(100000,100000000) 
    while wid in WID:                           
        wid = random.randint(100000,100000000)
    WID[wid] = 1

    watchlistname = fake.word()

    notificationMode = random.choice(["On", "Off"])
    
    insert_statements.append(f"INSERT INTO Watchlist VALUES ({wid},'{watchlistname}','{notificationMode}');")

In [390]:
# Account
PID = {}
account_type = ["individual", "TFSA", "RRSP"]
for _ in range(num_records):
    pid = random.randint(100000,100000000) 
    while pid in PID:                           
        pid = random.randint(100000,100000000)
    PID[pid] = 1

    name = fake.word()
    accountT = random.choice(account_type)
    value = round(random.uniform(0,100000), 2)
    watchlist = random.choice(list(WID.keys()))
    user = random.choice(list(user_email.keys()))
   
    insert_statements.append(f"INSERT INTO Account VALUES ({pid}, '{name}', '{accountT}', {value}, {watchlist}, '{user}');")

In [391]:
# PriceHistory
ticker_with_date = {}
for _ in range(num_records):
    ticker = random.choice(list(used_ticker.keys()))
    datetime = fake.date()
    while (ticker, datetime) in ticker_with_date:  
        ticker = random.choice(list(used_ticker.keys()))
        datetime = fake.time()
    ticker_with_date[(ticker, datetime)] = 1

    price = round(random.uniform(0,100000), 2) 
    
    insert_statements.append(f"INSERT INTO PriceHistory VALUES ('{ticker}','{datetime}',{price});")

In [392]:
# WatchlistAndShares
WID_shareID_ticker = {}
for _ in range(num_records):
    shareID, ticker = random.choice(list(used_shareID_with_ticker.keys()))
    wid = random.choice(list(WID.keys()))
    while (shareID, ticker, wid) in WID_shareID_ticker:  
        shareID, ticker = random.choice(list(used_shareID_with_ticker.keys()))
        wid = random.choice(list(WID.keys()))
    WID_shareID_ticker[(shareID, ticker, wid)] = 1

    insert_statements.append(f"INSERT INTO WatchlistAndShares VALUES ({wid}, {shareID}, '{ticker}');")

In [393]:
# AccountAndShares
shareID_ticker = {}
for _ in range(num_records):
    shareID, ticker = random.choice(list(used_shareID_with_ticker.keys()))
    while (shareID, ticker) in shareID_ticker:  
        shareID, ticker = random.choice(list(used_shareID_with_ticker.keys()))
    shareID_ticker[(shareID, ticker)] = 1

    portID = random.choice(list(PID.keys()))
    insert_statements.append(f"INSERT INTO AccountAndShares VALUES ({shareID}, '{ticker}', {portID});")

In [394]:
sql_output = "CONNECT TO COMP421; \n" + "\n".join(insert_statements)
print(sql_output)

CONNECT TO COMP421;
INSERT INTO User VALUES ('matthew22@example.com', 31341.32, 'Andrew Matthews', '+GFFqY!4J6');
INSERT INTO User VALUES ('ibonilla@example.net', 41859.58, 'Michael Ward', 'uCVmkYqQ+6');
INSERT INTO User VALUES ('nathan48@example.com', 83244.69, 'Raymond Doyle', 'HV99KAnhq)');
INSERT INTO User VALUES ('pcox@example.com', 14491.61, 'Kevin Peters', '(Ak1$Q0at5');
INSERT INTO User VALUES ('dtrujillo@example.com', 34775.36, 'Laurie Sanders', '%nQ9Inwa4u');
INSERT INTO User VALUES ('dennisashley@example.net', 4484.96, 'Kevin Gonzalez', '1TXqXUi4$D');
INSERT INTO User VALUES ('gibsonelizabeth@example.net', 9945.5, 'Stephen Wallace', '#15NJSg_xv');
INSERT INTO User VALUES ('charles56@example.com', 66750.73, 'Nicole Beasley', 'a4Z^gf7Z+c');
INSERT INTO User VALUES ('colemansara@example.com', 13563.73, 'Amber Carroll', '7v_IxLr_$F');
INSERT INTO User VALUES ('amberflores@example.org', 32831.84, 'Sierra Carey', '$0JrdG7rZs');
INSERT INTO User VALUES ('ygarza@example.com', 18927.21, 'Michelle Campbell', 'g!1W816v(n');
INSERT INTO User VALUES ('melissabennett@example.org', 80606.89, 'Robin Gilmore', 'T*8ONBgt5h');
INSERT INTO User VALUES ('jeffreypatterson@example.com', 94381.07, 'Pamela Bradford', ')eSiootZ5o');
INSERT INTO User VALUES ('mary37@example.com', 32046.68, 'Steven Barker', '!RwTQ8Xr3t');
INSERT INTO User VALUES ('shaun27@example.net', 55959.55, 'Casey Johnson', '^01udLpx)j');
INSERT INTO User VALUES ('coryvasquez@example.com', 13240.43, 'Tiffany Petersen', '*7Gkj(Mb!+');
INSERT INTO User VALUES ('ewhite@example.net', 88785.05, 'Miguel Graham', 'S!v8QOleR(');
INSERT INTO User VALUES ('joseph39@example.net', 81175.98, 'Christina Torres', 'AxQ1IDc!G#');
INSERT INTO User VALUES ('jcortez@example.com', 4418.66, 'Robert Oneill', 'I4o4^qMyT%');
INSERT INTO User VALUES ('millerjeffrey@example.com', 40190.76, 'Allison Hamilton', 'E)_5Von)eF');
INSERT INTO User VALUES ('angelahale@example.net', 57055.67, 'Debbie Bates', 'fCN2CCHy!X');
INSERT INTO User VALUES ('sarah08@example.com', 32329.52, 'Joseph Holland', '!2qJUgNi%W');
INSERT INTO User VALUES ('maureen80@example.com', 19226.8, 'Thomas Richmond', '9$V5D&Cm)9');
INSERT INTO User VALUES ('hannah25@example.net', 43030.24, 'Julie Townsend', '(Rz5Xxsy9h');
INSERT INTO User VALUES ('debraparker@example.com', 17045.93, 'Tammy Martin', '#CpQ4PEx7o');
INSERT INTO User VALUES ('john45@example.com', 33737.87, 'Kimberly Mason', '#ZXGqyn@a6');
INSERT INTO User VALUES ('autumn29@example.org', 86633.92, 'Jacob Kaufman', 'b94RA#h1!X');
INSERT INTO User VALUES ('catherinenelson@example.org', 5393.84, 'Sergio Wilkerson', 'A$F#S6Ik(f');
INSERT INTO User VALUES ('donald64@example.net', 51626.27, 'Crystal Glass', 'Y0x6_cVy!m');
INSERT INTO User VALUES ('barry59@example.net', 35453.95, 'Theresa Mejia', '&puvPjl#95');
INSERT INTO User VALUES ('thomas99@example.net', 71669.41, 'Emily Ward', '+o5i3JcX@j');
INSERT INTO User VALUES ('salazarmichael@example.com', 29546.36, 'Monique Nguyen', '$u^PoNour5');
INSERT INTO User VALUES ('bryan48@example.com', 51082.45, 'Scott Johnson', 'fkNxcXl&_4');
INSERT INTO User VALUES ('michelle65@example.org', 63529.72, 'Vincent Juarez', 'n4MiMpCT!i');
INSERT INTO User VALUES ('rherman@example.com', 28816.14, 'Jack Harris', 'a$8b5Znemv');
INSERT INTO User VALUES ('ayaladrew@example.org', 15877.94, 'Michael Hill', '@*2aOkcAXb');
INSERT INTO User VALUES ('wendywatkins@example.net', 5661.0, 'Nicholas Williams', 'I&RJ9Smsl4');
INSERT INTO User VALUES ('brittanyleon@example.net', 68693.11, 'Holly Vaughan', 'aI4X4A8s#Q');
INSERT INTO User VALUES ('tammie00@example.org', 33616.39, 'Bryan Banks', 'f!TDTXop*6');
INSERT INTO User VALUES ('orrsusan@example.org', 74883.15, 'Christina Valdez', '%_2BzPNq#%');
INSERT INTO User VALUES ('trodriguez@example.com', 52342.52, 'Monique Ross', 'xvPVeD^a*2');
INSERT INTO User VALUES ('mariataylor@example.org', 94429.24, 'Ashlee Montes', 'ZE6SNkHvQ^');
INSERT INTO User VALUES ('petersonwendy@example.org', 93693.28, 'Megan Wood', 'RduesBsc$5');
INSERT INTO User VALUES ('lisa02@example.com', 20081.42, 'Thomas Shaw', ')W2obiVyg#');
INSERT INTO User VALUES ('xsmith@example.com', 36542.44, 'Jacob Robertson', '%i#6YQy61Q');
INSERT INTO User VALUES ('smithchristina@example.org', 66721.12, 'Kevin Freeman', '8XiL*h)f+7');
INSERT INTO User VALUES ('sjohnson@example.net', 64413.13, 'Maurice Rodriguez', 'yI4v4_agT#');
INSERT INTO User VALUES ('jgreen@example.com', 69859.29, 'Patrick Parker', '+^w8+EcYi0');
INSERT INTO User VALUES ('haneyjoseph@example.com', 923.23, 'Charles Campbell', 'p!0_ZNpj$P');
INSERT INTO User VALUES ('rlewis@example.com', 92627.45, 'Jean Drake', 'yL^1XIql*b');
INSERT INTO User VALUES ('patricklawrence@example.net', 97198.26, 'Jeffrey Fernandez', 'y1D*G34^$z');
INSERT INTO User VALUES ('hudsonkimberly@example.com', 14907.24, 'Thomas Brewer', 'P#7OMz)fy@');
INSERT INTO User VALUES ('matthewortiz@example.com', 24679.42, 'Kevin Day', 'yo(6Ugt$(N');
INSERT INTO User VALUES ('heatherford@example.net', 58937.72, 'Jeremy Haas', 'a5NJBQMr#m');
INSERT INTO User VALUES ('millermegan@example.com', 74727.58, 'Anthony Campbell', '_xotOTar38');
INSERT INTO User VALUES ('rbaird@example.org', 40024.39, 'Chris Nelson', 'Z)9NCUTcSp');
INSERT INTO User VALUES ('jonathan48@example.org', 60665.19, 'Steven Vasquez', 'V*X18tSpR*');
INSERT INTO User VALUES ('cynthia18@example.net', 31376.96, 'Kristi Fisher', '%sSSvMUs64');
INSERT INTO User VALUES ('mcrawford@example.com', 42608.19, 'Katherine Stephens', 'Md&2RDeC!7');
INSERT INTO User VALUES ('corey55@example.net', 83353.01, 'Denise Manning', 'N9qqN+3t@q');
INSERT INTO User VALUES ('amandatodd@example.org', 52333.86, 'Rose Burns', 'I^*JxD3s5P');
INSERT INTO User VALUES ('markschwartz@example.net', 75798.27, 'James Mendoza', 'PL6Uraqb&8');
INSERT INTO User VALUES ('samantha68@example.org', 85878.27, 'Mary James', '9vqlYXG(@)');
INSERT INTO User VALUES ('pwilkinson@example.com', 34643.33, 'Suzanne Young', 'g%f%0Xqme7');
INSERT INTO User VALUES ('ambermorris@example.org', 47558.06, 'Ethan Gould', '@&&IMlklr7');
INSERT INTO User VALUES ('catkins@example.net', 61386.57, 'Richard Grant', '6Dx1lLpV@c');
INSERT INTO User VALUES ('katiemyers@example.org', 58814.73, 'David Strong', ')7CjqVlWNt');
INSERT INTO User VALUES ('heather84@example.org', 90136.48, 'Mark Boyer', 'Ze_8AlNL9r');
INSERT INTO User VALUES ('sthompson@example.org', 7343.75, 'Brittany Owens', '^3+H0ZLgkj');
INSERT INTO User VALUES ('qmiller@example.net', 24629.65, 'Dana Lambert', '!R3PEJ6hv+');
INSERT INTO User VALUES ('sgonzalez@example.org', 52198.85, 'Andrew Buchanan', 'U*hr4gh0#R');
INSERT INTO User VALUES ('lindarogers@example.org', 22122.35, 'Mark Lawson', '!YJ2P%rnog');
INSERT INTO User VALUES ('terryjeremy@example.org', 50543.8, 'Steven Baker', 'm49ZKrCp!C');
INSERT INTO User VALUES ('samuelaguilar@example.com', 70781.57, 'Brian Spence', '$bDK!Xcty4');
INSERT INTO User VALUES ('davisandrew@example.com', 32975.73, 'Teresa Bates', 'pkNl2S+f$J');
INSERT INTO User VALUES ('butlerrebecca@example.com', 67616.39, 'Leslie Morgan', '^v8PH9fkM)');
INSERT INTO User VALUES ('ronaldsmith@example.com', 72593.21, 'Amber Tran', 'OTQpReHZ%4');
INSERT INTO User VALUES ('alvaradochristina@example.org', 51143.45, 'Madeline Collins', '@0FRDti2Xf');
INSERT INTO User VALUES ('weaverjanice@example.com', 73254.61, 'Sean Garcia', 'U#xe5Kv0Lw');
INSERT INTO User VALUES ('julie09@example.com', 63552.4, 'Tracy Lopez', 'G9_M1hRea^');
INSERT INTO User VALUES ('brandonlopez@example.com', 34621.02, 'Anthony Williams', ')uX1GybQl5');
INSERT INTO User VALUES ('ubyrd@example.com', 58416.55, 'David Erickson', 'B0KzEfqS+k');
INSERT INTO User VALUES ('joseph29@example.org', 69903.95, 'Jessica Banks', 'w#+2RnxD1F');
INSERT INTO User VALUES ('phillip08@example.org', 40933.97, 'John Miller', 'W9Ts#7Dy#2');
INSERT INTO User VALUES ('daniel16@example.com', 53800.09, 'Mary Roman', '+$7Ttkhhp&');
INSERT INTO User VALUES ('wusamantha@example.org', 81512.61, 'Edwin Hamilton', '$1Z7hW6aC3');
INSERT INTO User VALUES ('igarcia@example.org', 28443.45, 'Julie Smith', '^V1CZ!ctta');
INSERT INTO User VALUES ('dylandunlap@example.net', 1009.14, 'Bethany Chapman', '(3^rsmKfr3');
INSERT INTO User VALUES ('martintina@example.com', 73748.42, 'Zoe Phillips', 'ScKlRWre%0');
INSERT INTO User VALUES ('kfrazier@example.net', 73928.41, 'Ashley Thornton', '!2$&OhwwYJ');
INSERT INTO User VALUES ('thomas57@example.org', 88442.37, 'Justin Mcmahon', 'Jr+t5TUF_4');
INSERT INTO User VALUES ('foxcrystal@example.org', 69430.48, 'Cathy Estrada', 'eTJDf3*s(0');
INSERT INTO User VALUES ('brandonhaynes@example.com', 17688.83, 'Eric Oneal', '^fG!Wb2CV4');
INSERT INTO User VALUES ('marissadominguez@example.com', 90951.21, 'Andrew Rogers', 'N%7jLIlyyT');
INSERT INTO User VALUES ('bryanalan@example.net', 57685.86, 'Chase Davis', '!9ri3VJbwW');
INSERT INTO User VALUES ('millerkeith@example.net', 12773.48, 'Kathleen Hall', '!a0&OznbPr');
INSERT INTO User VALUES ('baldwinsamantha@example.com', 26195.22, 'Rachael Ramirez', 'hSHB3%CpT_');
INSERT INTO User VALUES ('lindasmith@example.net', 57968.65, 'Cynthia Bauer', '@zJ@d@t0Z8');
INSERT INTO User VALUES ('lisagomez@example.org', 20785.32, 'Cynthia Tran', '47jbLX(d*c');
INSERT INTO User VALUES ('pam82@example.org', 30142.2, 'Jessica Cherry', '4j1YtWlw)O');
INSERT INTO Bank VALUES (1);
INSERT INTO Bank VALUES (2);
INSERT INTO Bank VALUES (3);
INSERT INTO Bank VALUES (4);
INSERT INTO Bank VALUES (5);
INSERT INTO Bank VALUES (6);
INSERT INTO Bank VALUES (7);
INSERT INTO Bank VALUES (8);
INSERT INTO Bank VALUES (9);
INSERT INTO Bank VALUES (10);
INSERT INTO Bank VALUES (11);
INSERT INTO Bank VALUES (12);
INSERT INTO Bank VALUES (13);
INSERT INTO Bank VALUES (14);
INSERT INTO Bank VALUES (15);
INSERT INTO Bank VALUES (16);
INSERT INTO Bank VALUES (17);
INSERT INTO Bank VALUES (18);
INSERT INTO Bank VALUES (19);
INSERT INTO Bank VALUES (20);
INSERT INTO Bank VALUES (21);
INSERT INTO Bank VALUES (22);
INSERT INTO Bank VALUES (23);
INSERT INTO Bank VALUES (24);
INSERT INTO Bank VALUES (25);
INSERT INTO Bank VALUES (26);
INSERT INTO Bank VALUES (27);
INSERT INTO Bank VALUES (28);
INSERT INTO Bank VALUES (29);
INSERT INTO Bank VALUES (30);
INSERT INTO Bank VALUES (31);
INSERT INTO Bank VALUES (32);
INSERT INTO Bank VALUES (33);
INSERT INTO Bank VALUES (34);
INSERT INTO Bank VALUES (35);
INSERT INTO Bank VALUES (36);
INSERT INTO Bank VALUES (37);
INSERT INTO Bank VALUES (38);
INSERT INTO Bank VALUES (39);
INSERT INTO Bank VALUES (40);
INSERT INTO Bank VALUES (41);
INSERT INTO Bank VALUES (42);
INSERT INTO Bank VALUES (43);
INSERT INTO Bank VALUES (44);
INSERT INTO Bank VALUES (45);
INSERT INTO Bank VALUES (46);
INSERT INTO Bank VALUES (47);
INSERT INTO Bank VALUES (48);
INSERT INTO Bank VALUES (49);
INSERT INTO Bank VALUES (50);
INSERT INTO Bank VALUES (51);
INSERT INTO Bank VALUES (52);
INSERT INTO Bank VALUES (53);
INSERT INTO Bank VALUES (54);
INSERT INTO Bank VALUES (55);
INSERT INTO Bank VALUES (56);
INSERT INTO Bank VALUES (57);
INSERT INTO Bank VALUES (58);
INSERT INTO Bank VALUES (59);
INSERT INTO Bank VALUES (60);
INSERT INTO Bank VALUES (61);
INSERT INTO Bank VALUES (62);
INSERT INTO Bank VALUES (63);
INSERT INTO Bank VALUES (64);
INSERT INTO Bank VALUES (65);
INSERT INTO Bank VALUES (66);
INSERT INTO Bank VALUES (67);
INSERT INTO Bank VALUES (68);
INSERT INTO Bank VALUES (69);
INSERT INTO Bank VALUES (70);
INSERT INTO Bank VALUES (71);
INSERT INTO Bank VALUES (72);
INSERT INTO Bank VALUES (73);
INSERT INTO Bank VALUES (74);
INSERT INTO Bank VALUES (75);
INSERT INTO Bank VALUES (76);
INSERT INTO Bank VALUES (77);
INSERT INTO Bank VALUES (78);
INSERT INTO Bank VALUES (79);
INSERT INTO Bank VALUES (80);
INSERT INTO Bank VALUES (81);
INSERT INTO Bank VALUES (82);
INSERT INTO Bank VALUES (83);
INSERT INTO Bank VALUES (84);
INSERT INTO Bank VALUES (85);
INSERT INTO Bank VALUES (86);
INSERT INTO Bank VALUES (87);
INSERT INTO Bank VALUES (88);
INSERT INTO Bank VALUES (89);
INSERT INTO Bank VALUES (90);
INSERT INTO Bank VALUES (91);
INSERT INTO Bank VALUES (92);
INSERT INTO Bank VALUES (93);
INSERT INTO Bank VALUES (94);
INSERT INTO Bank VALUES (95);
INSERT INTO Bank VALUES (96);
INSERT INTO Bank VALUES (97);
INSERT INTO Bank VALUES (98);
INSERT INTO Bank VALUES (99);
INSERT INTO Bank VALUES (100);
INSERT INTO BankAccount VALUES (73, 41812942, 'Maria Burgess', 86901.61);
INSERT INTO BankAccount VALUES (77, 99466350, 'Stacy Miller', 18184.06);
INSERT INTO BankAccount VALUES (15, 47446204, 'Jeremy Cox', 16098.83);
INSERT INTO BankAccount VALUES (27, 5384874, 'Michael Wolfe', 90874.64);
INSERT INTO BankAccount VALUES (96, 99441157, 'Shari Sanchez', 53511.74);
INSERT INTO BankAccount VALUES (69, 81864140, 'Christian Martin', 62214.04);
INSERT INTO BankAccount VALUES (28, 94176494, 'Kimberly Gardner', 15826.45);
INSERT INTO BankAccount VALUES (25, 26185367, 'Jorge Li', 2938.06);
INSERT INTO BankAccount VALUES (98, 12627654, 'Daniel Mcdonald', 69420.22);
INSERT INTO BankAccount VALUES (15, 69396464, 'Danielle Molina', 34456.31);
INSERT INTO BankAccount VALUES (49, 96871990, 'Samuel Martin', 46293.18);
INSERT INTO BankAccount VALUES (87, 50766506, 'James Crawford', 18402.15);
INSERT INTO BankAccount VALUES (78, 22834118, 'Jodi Garcia', 56651.52);
INSERT INTO BankAccount VALUES (34, 97940995, 'Thomas Sims', 40294.7);
INSERT INTO BankAccount VALUES (87, 40209112, 'Daniel Scott', 83921.1);
INSERT INTO BankAccount VALUES (71, 34567645, 'Misty Collier', 62077.91);
INSERT INTO BankAccount VALUES (78, 6274903, 'Danny Gardner', 41840.61);
INSERT INTO BankAccount VALUES (82, 78911599, 'Amber Stephens', 5206.4);
INSERT INTO BankAccount VALUES (3, 52982413, 'Zachary Rodriguez', 60506.24);
INSERT INTO BankAccount VALUES (95, 94429205, 'Deborah Harris', 9700.46);
INSERT INTO BankAccount VALUES (99, 78514473, 'Mr. Gary Scott', 91807.48);
INSERT INTO BankAccount VALUES (83, 12070981, 'Joshua Bray', 67214.66);
INSERT INTO BankAccount VALUES (28, 54579935, 'Danielle Brown', 45087.18);
INSERT INTO BankAccount VALUES (73, 66703752, 'Joseph Rodriguez', 42795.1);
INSERT INTO BankAccount VALUES (17, 77280011, 'Shawn Gutierrez', 57940.99);
INSERT INTO BankAccount VALUES (42, 51762306, 'Aaron Baker', 79408.08);
INSERT INTO BankAccount VALUES (1, 16068721, 'David Lee', 11983.23);
INSERT INTO BankAccount VALUES (86, 17101720, 'Anita Duran', 8682.0);
INSERT INTO BankAccount VALUES (24, 16319862, 'Laura Edwards', 66923.84);
INSERT INTO BankAccount VALUES (7, 59166914, 'Joshua Herrera', 33066.23);
INSERT INTO BankAccount VALUES (33, 47269309, 'Charles Hopkins DVM', 83386.27);
INSERT INTO BankAccount VALUES (66, 6718407, 'Jeremiah Lawrence', 4221.2);
INSERT INTO BankAccount VALUES (47, 58988720, 'David Taylor', 60634.85);
INSERT INTO BankAccount VALUES (79, 12465056, 'Terry Roach', 60426.04);
INSERT INTO BankAccount VALUES (61, 3248334, 'Jill Hall', 4747.7);
INSERT INTO BankAccount VALUES (86, 37462186, 'Karen Juarez', 44652.64);
INSERT INTO BankAccount VALUES (12, 48677345, 'Kelly Burns', 89291.23);
INSERT INTO BankAccount VALUES (93, 22001326, 'Sandra Tran', 55430.26);
INSERT INTO BankAccount VALUES (12, 71617992, 'Daniel James', 55604.44);
INSERT INTO BankAccount VALUES (22, 29812917, 'Adam Dixon', 36974.27);
INSERT INTO BankAccount VALUES (50, 78607858, 'Mr. Gregory Todd', 24522.58);
INSERT INTO BankAccount VALUES (79, 54234053, 'Mr. Scott Perkins', 12514.63);
INSERT INTO BankAccount VALUES (71, 47185382, 'Kayla Harris PhD', 19578.37);
INSERT INTO BankAccount VALUES (3, 4868279, 'Denise King', 14249.47);
INSERT INTO BankAccount VALUES (63, 41682470, 'Carolyn Lynch', 15193.13);
INSERT INTO BankAccount VALUES (5, 76366041, 'Timothy Lewis', 61937.1);
INSERT INTO BankAccount VALUES (90, 67597216, 'Justin Hampton', 89828.77);
INSERT INTO BankAccount VALUES (74, 47196108, 'Alyssa Thompson', 87195.98);
INSERT INTO BankAccount VALUES (5, 91320459, 'Adriana Jackson', 78212.0);
INSERT INTO BankAccount VALUES (92, 65982148, 'Amber Murphy', 52072.01);
INSERT INTO BankAccount VALUES (18, 34178432, 'Scott Marshall', 74090.2);
INSERT INTO BankAccount VALUES (98, 92168465, 'Marvin Young', 14061.79);
INSERT INTO BankAccount VALUES (35, 55707466, 'Michael Morton', 94969.51);
INSERT INTO BankAccount VALUES (39, 50087307, 'David Martinez', 42365.67);
INSERT INTO BankAccount VALUES (80, 89807969, 'Vanessa Hicks', 86066.39);
INSERT INTO BankAccount VALUES (50, 70284605, 'Scott Berry', 22840.0);
INSERT INTO BankAccount VALUES (18, 94723519, 'David Randolph', 37399.05);
INSERT INTO BankAccount VALUES (90, 38747192, 'Desiree Prince MD', 71841.09);
INSERT INTO BankAccount VALUES (10, 32375291, 'Christine Riddle', 55114.46);
INSERT INTO BankAccount VALUES (49, 23761695, 'Ruth Harvey', 34904.67);
INSERT INTO BankAccount VALUES (74, 42777027, 'Adam Ferguson', 17901.07);
INSERT INTO BankAccount VALUES (8, 8500111, 'Katelyn Wright', 81147.51);
INSERT INTO BankAccount VALUES (69, 12187673, 'Patrick Compton', 16591.39);
INSERT INTO BankAccount VALUES (14, 83452219, 'James Gillespie', 25194.83);
INSERT INTO BankAccount VALUES (10, 56532191, 'Ernest Boyer', 24793.6);
INSERT INTO BankAccount VALUES (11, 72999300, 'Dr. Joseph Smith MD', 62018.12);
INSERT INTO BankAccount VALUES (89, 81333884, 'Melissa Williams', 73691.85);
INSERT INTO BankAccount VALUES (85, 17434444, 'Elizabeth Greene', 98314.68);
INSERT INTO BankAccount VALUES (67, 65192221, 'Amy Brown', 44234.2);
INSERT INTO BankAccount VALUES (89, 17294488, 'Paul Singh', 61512.5);
INSERT INTO BankAccount VALUES (34, 47753021, 'Gary Andrews', 39305.27);
INSERT INTO BankAccount VALUES (23, 65297698, 'Todd Smith', 35205.96);
INSERT INTO BankAccount VALUES (36, 55844185, 'Brandon Hammond', 33984.75);
INSERT INTO BankAccount VALUES (29, 71547993, 'Zachary Craig', 16549.7);
INSERT INTO BankAccount VALUES (19, 70764830, 'Leslie Welch', 22058.04);
INSERT INTO BankAccount VALUES (94, 64511136, 'Russell Freeman', 81300.98);
INSERT INTO BankAccount VALUES (28, 7671672, 'Christopher Shaffer', 66655.51);
INSERT INTO BankAccount VALUES (8, 93487660, 'William Ruiz', 79759.92);
INSERT INTO BankAccount VALUES (47, 90051002, 'Chad Nelson', 40510.29);
INSERT INTO BankAccount VALUES (97, 87808813, 'Amy Barber', 1874.37);
INSERT INTO BankAccount VALUES (37, 58233680, 'Ashley Bradley', 34653.22);
INSERT INTO BankAccount VALUES (81, 14935941, 'Lindsey Taylor', 34830.66);
INSERT INTO BankAccount VALUES (25, 91142249, 'Matthew Lucero', 57488.78);
INSERT INTO BankAccount VALUES (7, 9051601, 'Yolanda Henry', 45300.06);
INSERT INTO BankAccount VALUES (89, 26379151, 'Jessica Rice', 47709.79);
INSERT INTO BankAccount VALUES (30, 29365115, 'Michelle Evans', 18255.24);
INSERT INTO BankAccount VALUES (92, 92623610, 'Jeffery Sullivan', 59479.08);
INSERT INTO BankAccount VALUES (58, 61679003, 'Natasha Bowers', 25554.04);
INSERT INTO BankAccount VALUES (57, 38574907, 'Marc Mayer', 38423.41);
INSERT INTO BankAccount VALUES (75, 33986816, 'Lisa Davis', 92946.66);
INSERT INTO BankAccount VALUES (48, 19716968, 'Pamela Welch', 5761.51);
INSERT INTO BankAccount VALUES (68, 99314583, 'Kevin Lin', 13697.92);
INSERT INTO BankAccount VALUES (98, 57405558, 'Edward Holmes', 85039.77);
INSERT INTO BankAccount VALUES (45, 84761716, 'Larry Meyer', 91684.7);
INSERT INTO BankAccount VALUES (31, 28495309, 'Susan Riley', 32640.65);
INSERT INTO BankAccount VALUES (40, 88623739, 'Kenneth Robertson', 71697.97);
INSERT INTO BankAccount VALUES (87, 7390589, 'Gail Perez', 35690.36);
INSERT INTO BankAccount VALUES (11, 4684399, 'David Wilkins', 17045.47);
INSERT INTO BankAccount VALUES (16, 28708184, 'Angela Padilla', 21483.69);
INSERT INTO BankAccount VALUES (79, 67691200, 'Bradley Garcia', 94779.17);
INSERT INTO BankTransactions VALUES (45267730, '2010-03-28', 'CLP', 25704.29, 'Complete', 'Saving', 69, 12187673, 'sarah08@example.com');
INSERT INTO BankTransactions VALUES (45222008, '1998-01-07', 'NZD', 24489.6, 'Pending', 'Saving', 87, 40209112, 'marissadominguez@example.com');